In [62]:
import pandas as pd

In [63]:
data = pd.read_csv('./filtered_lastfm_1K.csv')
data.head()

   artist_id  plays  user_age  user_gender user_id  user_rating
0  b'100388'      3      True         True   b'10'     2.214184
1   b'11932'     19      True         True   b'10'     3.805089
2   b'56079'      1      True         True   b'10'     1.000000
3  b'105596'     32      True         True   b'10'     4.084555
4   b'22332'      3      True         True   b'10'     2.214184

In [64]:
data['artist_id'] = data['artist_id'].apply(lambda x : x.replace("b'", "").replace("'", ""))
data['user_id'] = data['user_id'].apply(lambda x : x.replace("b'", "").replace("'", ""))
data.head()

  artist_id  plays  user_age  user_gender user_id  user_rating
0    100388      3      True         True      10     2.214184
1     11932     19      True         True      10     3.805089
2     56079      1      True         True      10     1.000000
3    105596     32      True         True      10     4.084555
4     22332      3      True         True      10     2.214184

## User df

In [65]:
def replace_gender(x):
    return 'M' if x else 'F'

user_df = data[['user_id', 'user_gender', 'user_age']]
user_df = user_df.drop_duplicates(subset=['user_id'])
user_df['user_gender'] = data['user_gender'].apply(lambda x: replace_gender(x))
user_df.reset_index(drop=True, inplace=True)
user_df.set_index('user_id')
user_df['user_gender'].unique()

array(['M', 'F'], dtype=object)

In [66]:
user_df.to_csv('users.tsv', header=None, index=None, sep='\t')

## Interactions

In [67]:
ratings_df = data[['user_id', 'artist_id', 'user_rating']]
ratings_df.head(5)

  user_id artist_id  user_rating
0      10    100388     2.214184
1      10     11932     3.805089
2      10     56079     1.000000
3      10    105596     4.084555
4      10     22332     2.214184

In [68]:
ratings_df.to_csv('ratings.tsv', header=None, index=None, sep='\t')