In [67]:
import pandas as pd
from random import randint

input_path ='movielens1m/pred/gender/ratings'

original_ratings = pd.read_csv('../data/movielens1m/ratings.tsv', header=None, sep='\t')
perblur = pd.read_csv(input_path + '.tsv', header=None, sep='\t')

In [68]:
original_ratings.shape

(1000209, 4)

In [69]:
perblur.shape

(1042614, 4)

In [70]:
min_ts = original_ratings[3].min()
max_ts = original_ratings[3].max()

In [71]:
df_post = original_ratings.merge(perblur.drop_duplicates(), on=[0,1],
                   how='right')

In [72]:
df_post.head()

   0    1  2_x          3_x  2_y  3_y
0  1    1  5.0  978824268.0    5    0
1  1   48  5.0  978824351.0    5    0
2  1  150  5.0  978301777.0    5    0
3  1  260  4.0  978300760.0    4    0
4  1  527  5.0  978824195.0    5    0

In [73]:
df_post.rename(columns={'2_y':2, '3_x': 3}, inplace=True)

df_post_final = df_post[[0, 1, 2, 3]].copy()

In [74]:
df_post_final[3] = df_post_final[3].fillna(randint(min_ts, max_ts))
df_post_final[3] = df_post_final[3].astype(int)
df_post_final.head()

   0    1  2          3
0  1    1  5  978824268
1  1   48  5  978824351
2  1  150  5  978301777
3  1  260  4  978300760
4  1  527  5  978824195

In [75]:
df_post_final.to_csv(input_path + '_preprocessed.tsv', sep='\t', index=False, header=None)